{% if content.field_card_.0["#markup"] == 'Right' %}
   <div class="dcf-paragraph-card dcf-ml-3" style="float:right;">
        <div class="dcf-p-5">
        <a href="content.field_pill_content_link_para.0["url"]" class="dcf-pill dcf-uppercase dcf-txt-2xs dcf-txt-decor-none">{{ content.field_pill_content__paragraph }}</a> 
        <div class="dcf-pb-5 dcf-pt-5 dcf-bold dcf-txt-lg"> {{ content.field_paragraph_title }} </div>
        <div class="dcf-pb-5">{{ content.field_paragraph }}</div>
        <div class="dcf-pb-5 dcf-d-flex  dcf-ai-center dcf-col-gap-1">
            <div>#</div>
                <div class="dcf-txt-2xs dcf-txt-middle dcf-mb-0 ">{{ content.field_date_card  }}</div>
            </div>
        </div>
    </div>

    {% elseif content.field_card_.0["#markup"] == 'Right Bleed' %}
    <div class="dcf-paragraph-card dcf-ml-3 dcf-card-bleed-right">
        <div class="dcf-p-5">
        <a href="content.field_pill_content_link_para.0["url"]" class="dcf-pill dcf-uppercase dcf-txt-2xs dcf-txt-decor-none">{{ content.field_pill_content__paragraph }}</a> 
        <div class="dcf-pb-5 dcf-pt-5 dcf-bold dcf-txt-lg"> {{ content.field_paragraph_title }} </div>
        <div class="dcf-pb-5">{{ content.field_paragraph }}</div>
        <div class="dcf-pb-5 dcf-d-flex  dcf-ai-center dcf-col-gap-1">
            <div>#</div>
                <div class="dcf-txt-2xs dcf-txt-middle dcf-mb-0 ">{{ content.field_date_card  }}</div>
            </div>
        </div>
    </div>


    {% elseif content.field_card_.0["#markup"] == 'Left' %}
   <div class="dcf-paragraph-card dcf-mr-3 " style="float:left;">
        <div class="dcf-p-5">
        <a href="content.field_pill_content_link_para.0["url"]" class="dcf-pill dcf-uppercase dcf-txt-2xs dcf-txt-decor-none">{{ content.field_pill_content__paragraph }}</a> 
        <div class="dcf-pb-5 dcf-pt-5 dcf-bold dcf-txt-lg"> {{ content.field_paragraph_title }} </div>
        <div class="dcf-pb-5">{{ content.field_paragraph }}</div>
        <div class="dcf-pb-5 dcf-d-flex  dcf-ai-center dcf-col-gap-1">
            <div>#</div>
                <div class="dcf-txt-2xs dcf-txt-middle dcf-mb-0 ">{{ content.field_date_card  }}</div>
            </div>
        </div>
    </div>

    {% elseif content.field_card_.0["#markup"] == 'Left Bleed' %}
    <div class="dcf-paragraph-card dcf-card-bleed-left">
        <div class="dcf-p-5">
        <a href="content.field_pill_content_link_para.0["url"]" class="dcf-pill dcf-uppercase dcf-txt-2xs dcf-txt-decor-none">{{ content.field_pill_content__paragraph }}</a> 
        <div class="dcf-pb-5 dcf-pt-5 dcf-bold dcf-txt-lg"> {{ content.field_paragraph_title }} </div>
        <div class="dcf-pb-5">{{ content.field_paragraph }}</div>
        <div class="dcf-pb-5 dcf-d-flex  dcf-ai-center dcf-col-gap-1">
            <div>#</div>
                <div class="dcf-txt-2xs dcf-txt-middle dcf-mb-0 ">{{ content.field_date_card  }}</div>
            </div>
        </div>
    </div>

    {% else %}
    <div class="dcf-paragraph-card dcf-mt-3 dcf-mb-3">
        <div class="dcf-p-5">
        <a href="content.field_pill_content_link_para.0["url"]" class="dcf-pill dcf-uppercase dcf-txt-2xs dcf-txt-decor-none">{{ content.field_pill_content__paragraph }}</a> 
        <div class="dcf-pb-5 dcf-pt-5 dcf-bold dcf-txt-lg"> {{ content.field_paragraph_title }} </div>
        <div class="dcf-pb-5">{{ content.field_paragraph }}</div>
        <div class="dcf-pb-5 dcf-d-flex  dcf-ai-center dcf-col-gap-1">
            <div>#</div>
                <div class="dcf-txt-2xs dcf-txt-middle dcf-mb-0 ">{{ content.field_date_card  }}</div>
            </div>
        </div>
    </div>
{% endif %} 
