<div class="dcf-custom-bleed dcf-relative dcf-pb-5">
    <div class="dcf-image-quote-grid">
        <div class="dcf-q-image">
            {{ content.field_image_quote_card }}
        </div>
        <div class="dcf-image-quote-card dcf-q-card dcf-z-2 dcf-mt-7">
            <div class="dcf-pt-5 dcf-pr-5 dcf-pl-5">
                <a href="content.field_image_pill_content_link.0["url"]" class="dcf-pill dcf-uppercase dcf-txt-2xs dcf-txt-decor-none dcf-pb-5">
                    {{ content.field_image_pill_content }}
                </a>
                <div class="dcf-quote-card-quote">{{ content.field_image_quote }}</div>
                <div class="dcf-credit ">{{ content.field_image_quotemaster }}</div>
                <div class="dcf-credit-title ">{{ content.field_quotemaster_ }}</div>
            </div>
        </div>
    </div>
</div>