{% if content.field_title_placement.0['#markup'] == 'Basic' %}
  {% set hero_class = 'hero-article-basic' %}
{% else %}
  {% set hero_class = 'hero-article-full' %}
{% endif %}
{%
  set classes = [
    'block-content',
    'block-content--type-' ~ bundle|clean_class,
    'block-content--' ~ id,
    'block-content--view-mode-' ~ view_mode|clean_class,
    'dcf-relative dcf-mt-0 dcf-mb-0 dcf-mr-auto dcf-ml-auto',
    hero_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if content.field_title_placement.0['#markup'] == 'center left' %}
    <div class="dcf-m-auto dcf-d-block unl-bg-darkest-gray dcf-title-hide dcf-p-1 dcf-z-2 dcf-title-center-left">
      <div class="dcf-p-1">
        <h1 class="dcf-txt-h1 unl-cream">{{ node_title }}</h1>
        <div class="dcf-txt-md unl-lightest-gray">{{ field_subtitle }}</div>
        <div class="unl-lightest-gray dcf-mt-1">{{ field_written_by }}</div>
        <div class="dcf-txt-sm unl-lightest-gray">{{ created }}</div>
      </div>
    </div>
    <div class="landing-section">{{ content.field_image }}</div>
    <div class="custom-hide dcf-txt-sm dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ content.field_cutline }}</div>
    <div class="custom-hide dcf-txt-2xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ credit }}</div>

  {% elseif content.field_title_placement.0['#markup'] == 'bottom left' %}
    <div class="dcf-m-auto dcf-d-block unl-bg-darkest-gray dcf-title-hide dcf-p-1 dcf-z-2 dcf-title-bottom-left">
      <div class="dcf-p-1">
        <h1 class="dcf-txt-h1 unl-cream">{{ node_title }}</h1>
        <div class="dcf-txt-sm unl-cream">{{ field_subtitle }}</div>
        <div class="unl-lightest-gray dcf-mt-1">{{ field_written_by }}</div>
        <div class="dcf-txt-sm unl-lightest-gray">{{ created }}</div>
      </div>
    </div>
    <div class="landing-section ">{{ content.field_image }}</div>
    <div class="custom-hide dcf-txt-sm dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ content.field_cutline }}</div>
    <div class="custom-hide dcf-txt-2xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ credit }}</div>

  {% elseif content.field_title_placement.0['#markup'] == 'center right' %}
    <div class="dcf-m-auto dcf-d-block unl-bg-darkest-gray dcf-title-hide dcf-p-1 dcf-z-2 dcf-title-center-right">
      <div class="dcf-p-1">
        <h1 class="dcf-txt-h1 unl-cream">{{ node_title }}</h1>
        <div class="dcf-txt-sm unl-cream">{{ field_subtitle }}</div>
        <div class="unl-lightest-gray dcf-mt-1">{{ field_written_by }}</div>
        <div class="dcf-txt-sm unl-lightest-gray">{{ created }}</div>
      </div>
    </div>
    <div class="landing-section">{{ content.field_image }}</div>
    <div class="custom-hide dcf-txt-sm dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ content.field_cutline }}</div>
    <div class="custom-hide dcf-txt-2xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ credit }}</div>

  {% elseif content.field_title_placement.0['#markup'] == 'bottom right' %}
    <div
        class="dcf-m-auto dcf-d-block unl-bg-darkest-gray dcf-p-1 dcf-title-hide dcf-z-2 dcf-txt-left dcf-title-bottom-right">
      <div class="dcf-p-1">
        <h1 class="dcf-txt-h1 unl-cream">{{ node_title }}</h1>
        <div class="dcf-txt-sm unl-cream">{{ field_subtitle }}</div>
        <div class="unl-lightest-gray dcf-mt-1">{{ field_written_by }}</div>
        <div class="dcf-txt-sm unl-lightest-gray">{{ created }}</div>
      </div>
    </div>
    <div class="landing-section">{{ content.field_image }}</div>
    <div class="custom-hide dcf-txt-sm dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ content.field_cutline }}</div>
    <div class="custom-hide dcf-txt-2xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ credit }}</div>

  {% elseif content.field_title_placement.0['#markup'] == 'center center' %}
    <div class="dcf-m-auto dcf-d-block unl-bg-darkest-gray dcf-p-1 dcf-title-hide dcf-z-2 dcf-title-center-center">
      <div class="dcf-p-1">
        <h1 class="dcf-txt-h1 unl-cream">{{ node_title }}</h1>
        <div class="dcf-txt-sm unl-cream">{{ field_subtitle }}</div>
        <div class="unl-lightest-gray dcf-mt-1">{{ field_written_by }}</div>
        <div class="dcf-txt-sm unl-lightest-gray">{{ created }}</div>
      </div>
    </div>
    <div class="landing-section">{{ content.field_image }}</div>
    <div class="custom-hide dcf-txt-sm dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ content.field_cutline }}</div>
    <div class="custom-hide dcf-txt-2xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ credit }}</div>

  {% elseif content.field_title_placement.0['#markup'] == 'bottom center' %}
    <div class="dcf-m-auto dcf-d-block unl-bg-darkest-gray dcf-p-1 dcf-z-2 dcf-title-hide dcf-title-bottom-center">
      <div class="dcf-p-1">
        <h1 class="dcf-txt-h1 unl-cream">{{ node_title }}</h1>
        <div class="dcf-txt-sm unl-cream">{{ field_subtitle }}</div>
        <div class="unl-lightest-gray dcf-mt-1">{{ field_written_by }}</div>
        <div class="dcf-txt-sm unl-lightest-gray">{{ created }}</div>
      </div>
    </div>
    <div class="landing-section">{{ content.field_image }}</div>
    <div class="custom-hide dcf-txt-sm dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ content.field_cutline }}</div>
    <div class="custom-hide dcf-txt-2xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ credit }}</div>

  {% else %}
    {# This is "Basic" or not defined. Node title has been moved to region--hero.html.twig using unl_five_news_preprocess_region() #}
    <div class="dcf-wrapper custom-main-page">
      <div class="dcf-basic-view">
        <div class="dcf-col-100% dcf-col-67%-start@sm dcf-col-75%-start@md">
          <div>{{ content.field_image }}</div>
        </div>
        <div class="dcf-col-100% dcf-col-33%-end@sm dcf-col-25%-end@md">
          <hr class="custom-l-line dcf-mt-0 dcf-mb-1 dcf-basic-view-hr">
          <div
              class="dcf-txt-3xs custom-hide dcf-italic dcf-pr-5 dcf-mt-0 dcf-mb-1 custom-credit-text"> {{ credit }}</div>
          <div class="dcf-txt-xs dcf-mb-6">
            {{ content.field_cutline }}
          </div>
        </div>
      </div>
    
    </div>
  {% endif %}

</div> 
