{# {{ dd() }}
{{ content }} #}

{# {{ content.title }} #}
<div class="custom-external-entity-border">
    <div class="dcf-mt-3 dcf-mb-3 dcf-txt-sm dcf-uppercase" style="color: var(--bg-body);">{{ content.field_edupersonprimaryaffiliatio }}</div>
    <div class="dcf-mt-3 dcf-mb-3 dcf-txt-sm dcf-uppercase" style="color: var(--bg-body);">{{ content.field_title }}</div>
</div>