<div>
    <h1 class="dcf-txt-center dcf-mb-3 dcf-mt-3 ">Gallery</h1>
    <p> The body needs to be added the body is there in Content typr for gallery but the while popullating the values in article there is no space for entering text in the body  </p>
</div>
{% if element.6 %}
    <div class = "dcf-gallery dcf-bleed dcf-wrapper">
        <span class= "dcf-gallery-7-1 dcf-overflow-hidden dcf-obj-fit-cover">
            <span class="grid-img">{{ element.0 }}</span>
        </span>
        <span class= "dcf-gallery-7-2 dcf-overflow-hidden dcf-obj-fit-cover"> 
            <span class="grid-img">{{ element.1 }}</span>
        </span>
        <span class= "dcf-gallery-7-3 dcf-overflow-hidden dcf-obj-fit-cover" > 
            <span class="grid-img">{{ element.2 }}</span>
        </span>
        <span class= "dcf-gallery-7-4 dcf-overflow-hidden dcf-obj-fit-cover"> 
            <span class="grid-img">{{ element.3 }}</span>
        </span>
        <span class= "dcf-gallery-7-5 dcf-overflow-hidden dcf-obj-fit-cover"> 
            <span class="grid-img">{{ element.4 }}</span>
        </span>
        <span class= "dcf-gallery-7-6 dcf-overflow-hidden dcf-obj-fit-cover"> 
            <span class="grid-img">{{ element.5 }}</span>
        </span>
        <span class= "dcf-gallery-7-7 dcf-overflow-hidden dcf-obj-fit-cover"> 
            <span class="grid-img"> {{ element.6 }}</span>
        </span>
    </div>

{% elseif element.5 %}
    <div class = "dcf-gallery dcf-bleed dcf-wrapper">
        <span class= "dcf-gallery-6-1 dcf-overflow-hidden dcf-obj-fit-cover">
            <span class="grid-img">{{ element.0 }}</span>
        </span>
        <span class= "dcf-gallery-6-2 dcf-overflow-hidden dcf-obj-fit-cover"> 
            <span class="grid-img">{{ element.1 }}</span>
        </span>
        <span class= "dcf-gallery-6-3 dcf-overflow-hidden dcf-obj-fit-cover" > 
            <span class="grid-img">{{ element.2 }}</span>
        </span>
        <span class= "dcf-gallery-6-4 dcf-overflow-hidden dcf-obj-fit-cover"> 
            <span class="grid-img">{{ element.3 }}</span>
        </span>
        <span class= "dcf-gallery-6-5 dcf-overflow-hidden dcf-obj-fit-cover"> 
            <span class="grid-img">{{ element.4 }}</span>
        </span>
        <span class= "dcf-gallery-6-6 dcf-overflow-hidden dcf-obj-fit-cover"> 
            <span class="grid-img">{{ element.5 }}</span>
        </span>
    </div>
{% elseif element.4 %}
     <div class = "dcf-gallery dcf-bleed dcf-wrapper">
        <span class= "dcf-gallery-5-1 dcf-overflow-hidden dcf-obj-fit-cover">
            <span class="grid-img">{{ element.0 }}</span>
        </span>
        <span class= "dcf-gallery-5-2 dcf-overflow-hidden dcf-obj-fit-cover"> 
            <span class="grid-img">{{ element.1 }}</span>
        </span>
        <span class= "dcf-gallery-5-3 dcf-overflow-hidden dcf-obj-fit-cover" > 
            <span class="grid-img">{{ element.2 }}</span>
        </span>
        <span class= "dcf-gallery-5-4 dcf-overflow-hidden dcf-obj-fit-cover"> 
            <span class="grid-img">{{ element.3 }}</span>
        </span>
        <span class= "dcf-gallery-5-5 dcf-overflow-hidden dcf-obj-fit-cover"> 
            <span class="grid-img">{{ element.4 }}</span>
        </span>
    </div>
{% endif %}