<div class="dcf-bleed dcf-wrapper dcf-pt-4 dcf-pb-5">
    <div class="dcf-image-card-grid dcf-pl-5 dcf-pr-5">
        <div class="dcf-image-card-grid-1"> {{ items.0 }} </div>
        <div class="dcf-image-card-grid-2"> {{ items.1 }} </div>
        <div class="dcf-image-card-grid-3"> {{ items.2 }} </div>
        <div class="dcf-image-card-grid-4"> {{ items.3 }} </div>
        <div class="dcf-image-card-grid-5"> {{ items.4 }} </div>
        <div class="dcf-image-card-grid-6"> {{ items.5 }} </div>
    </div>
</div>
