<div{{ attributes }}>
    {# {{ title_suffix.contextual_links }} #}
    <div class="dcf-relative dcf-h-min-100vh dcf-mt-0 dcf-mb-0 dcf-mr-auto dcf-ml-auto">
    <div class="dcf-absolute dcf-m-auto dcf-p-1 dcf-z-2" style="top:50%;"><h1 class ="dcf-txt-h1 dcf-d-block unl-bg-darkest-gray dcf-p-1">{{ node_title }}</h1></div>
    <div class="dcf-w-max-100% dcf-h-auto dcf-d-block">{{ content.field_media_image_1 }}</div> 
    </div>
     <div class="dcf-txt-3xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0"> {{ content.field_media_image_credit }} </div> 
</div>
