{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
    'custom-oncampus-2',
  ]
%}
{% set createdDate = node.getCreatedTime|date('F j, Y') %}

<article{{ attributes.addClass(classes) }}>
  <div class="custom-oncampus-title">
    <h3 class="dcf-txt-h4 dcf-mb-1">
      <a href="{{ url }}" class="dcf-txt-decor-none">
        {{ label }}
      </a>
    </h3>
    <p class="dcf-mb-0">{{ createdDate }}</p>
  </div>
  <div class="custom-oncampus-image">
    <a href="{{ url }}">{{ content.field_article_lead_media }}</a>
  </div>
</article>
