{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{% set eventDay = node.field_article_event_date.value|date('j') %}
{% set eventMonth = node.field_article_event_date.value|date('M') %}
<article{{ attributes.addClass(classes) }}>
  <a href="{{ url }}">
    {{ content.field_article_lead_image }}
    {{ content.field_article_lead_media }}
  </a>
  <div class="custom-events-heading-and-logo dcf-jc-between">
    <h3 class="custom-event-title dcf-mb-1"><a href={{ url }}>{{ label }}</a></h3>
    <div class="custom-event-location">{{ content.field_article_event_where }}</div>
    <div class="custom-event-circle">
      <div class="month">{{ eventMonth }}</div>
      <div class="day">{{ eventDay }}</div>
      <div class="time">{{ content.field_article_event_date }}</div>
    </div>
  </div>
  {{ content.body }}
</article>
