{% set createdDate = node.getCreatedTime|date('F j, Y') %}

<div>
    <div class="custom-oncampus-2">
        <div class="custom-oncampus-title" style="color: white;">
            <a href="{{ link }}" class="dcf-txt-decor-none" style="color:white;"><h3>{{ label }}</h3></a>
            <p>{{ createdDate }}</p>
        </div>
        <div class="custom-oncampus-image" >
            <a href="{{ url }}">{{ content.field_article_lead_image[0]['field_image'] }} </a>
        </div>
    </div>
</div>