<div class="recent-block3-grid ">
    <div>
    <a href= "{{ url }}">
        {{ content.field_article_lead_image }}
    </a>
    </div>
    <div>
    <h5 class = "dcf-regular dcf-txt-h5">
        <a href= "{{ url }}"> {{ label }} </a>
        </h5>
        <div style = "font-family: 'Gotham SSm A','Gotham SSm B',Verdana,sans-serif; font-weight: 400; font-style: normal; font-size: .75em; " class="dcf-d-flex custom-before-in-text">
           <div>2 days ago <span class = "custom-section-display">{{ content.field_section }}</span></div>
          </div>
        </div>
    </div>
</div>