{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
{{ attach_library('unl_five_news/article') }}



<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page and view_mode != "full" %}
  {{ node_title }}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    
    </footer>
  {% endif %}


  <div class = "dcf-bleed">
    {# <div class  = "">
    <h1 class ="dcf-txt-h1 dcf-d-block">{{ label }}</h1>
    <span class = "">{{ content.field_article_lead_image }}</span>
    </div> #}
     <div class="landing-section dcf-d-grid dcf-ai-center dcf-ji-center dcf-ac-center dcf-jc-center dcf-overflow-hidden">
        <span class="dcf-z-2 dcf-txt-center ">
            <h1 class="landing-section-title dcf-mb-0 unl-bg-darkest-gray dcf-p"> {{ label }} </h1>
        </span>
        {{ content.field_article_lead_image }}
      </div>
  </div>



  {# Paragraph #}
  <div class="dcf-grid dcf-pt-7 dcf-pb-7 " >
    {# 75% col #}
    <div class ="dcf-col-75%-start">
      <div style = "display: grid; grid-template-columns: 30% 60%;">
        
        <div>
          <div class="dcf-sticky dcf-pin-top slide" style="padding: 0 1.58vw; float: left;">
            <hr class="dcf-l-line dcf-mt-0">
            <div>
              <h2 class="dcf-txt-sm dcf-regular dcf-uppercase unl-ls-1 field-label">Share</h2>
            </div>
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5aeb64f82863a8b2"></script>
            <div class="addthis_inline_share_toolbox"></div>
          </div>
        </div>


        <div class="dcf-m-auto" style="max-width: 35.52em; padding: 0 1.58vw; float: right">
          <div  class = "dcf-txt-h5 dcf-mb-1 dcf-font-family">
            {{ content.field_subtitle }}
          </div>
          <div class = "dcf-font-family dcf-dropcap" style = "line-height: 1.5;">
          {{ content.field_article_text_content }}
          </div>
        </div>
      </div>
    </div>

    {# 25% col #}
    <div class = "dcf-col-25%-end">
     {# News Release Contacts #}
     {{ content.field_article_release_contacts }}
     {{ content.field_article_related_links }}
     {{ content.field_tags }}
     </div>
  </div>

  {# Recent News #}
  <div>
      {{ drupal_view('recent', 'block_1') }}
  </div>

</article>


