{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{% set createdDate = node.getCreatedTime|date('F j, Y') %}

<article{{ attributes.addClass(classes).addClass('recent-block3-grid') }}>
  <div>
    <a href="{{ url }}">
      {{ content.field_article_lead_image }}
    </a>
  </div>
  <div>
    <h5 class="dcf-regular dcf-txt-h5">
      <a href="{{ url }}">{{ label }}</a>
    </h5>
    <div class="dcf-d-flex custom-before-in-text">
      <div>{{ createdDate }} <span class="custom-section-display">{{ content.field_section }}</span></div>
    </div>
  </div>
</article>
