{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
{{ attach_library('unl_five_news/article') }}

<script>
  window.addEventListener('inlineJSReady', function() {
    WDN.initializePlugin('font-serif');
  }, false);
</script>

<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    
    </footer>
  {% endif %}

  {% if content.field_article_lead_media.0 %}
  <div class="dcf-bleed">
    {% if content.field_article_title_placement.0['#markup'] == 'basic' %}
      {% set hero_class = 'hero-article-basic' %}
    {% else %}
      {% set hero_class = 'hero-article-full' %}
    {% endif %}
    <div class="dcf-relative dcf-mt-0 dcf-mb-0 dcf-mr-auto dcf-ml-auto {{ hero_class }}">

      {% if content.field_article_title_placement.0['#markup'] == 'center_left' %}
        <div class="dcf-m-auto dcf-d-block unl-bg-darkest-gray dcf-title-hide dcf-p-1 dcf-z-2 dcf-title-center-left">
          <div class="dcf-p-1">
            <h1 class="dcf-txt-h1 unl-cream">{{ label }}</h1>
            <div class="dcf-txt-md unl-lightest-gray">{{ content.field_subtitle }}</div>
            <div class="unl-lightest-gray dcf-mt-1">{{ content.field_written_by }}</div>
            <div class="dcf-txt-sm unl-lightest-gray">{{ created }}</div>
          </div>
        </div>
        <div class="landing-section">{{ content.field_article_lead_media }}</div>
        <div class="custom-hide dcf-txt-sm dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ content.field_article_lead_cutline }}</div>
        <div class="custom-hide dcf-txt-2xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ credit }}</div>

      {% elseif content.field_article_title_placement.0['#markup'] == 'bottom_left' %}
        <div class="dcf-m-auto dcf-d-block unl-bg-darkest-gray dcf-title-hide dcf-p-1 dcf-z-2 dcf-title-bottom-left">
          <div class="dcf-p-1">
            <h1 class="dcf-txt-h1 unl-cream">{{ label }}</h1>
            <div class="dcf-txt-sm unl-cream">{{ content.field_subtitle }}</div>
            <div class="unl-lightest-gray dcf-mt-1">{{ content.field_written_by }}</div>
            <div class="dcf-txt-sm unl-lightest-gray">{{ created }}</div>
          </div>
        </div>
        <div class="landing-section ">{{ content.field_article_lead_media }}</div>
        <div class="custom-hide dcf-txt-sm dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ content.field_article_lead_cutline }}</div>
        <div class="custom-hide dcf-txt-2xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ credit }}</div>

      {% elseif content.field_article_title_placement.0['#markup'] == 'center_right' %}
        <div class="dcf-m-auto dcf-d-block unl-bg-darkest-gray dcf-title-hide dcf-p-1 dcf-z-2 dcf-title-center-right">
          <div class="dcf-p-1">
            <h1 class="dcf-txt-h1 unl-cream">{{ label }}</h1>
            <div class="dcf-txt-sm unl-cream">{{ content.field_subtitle }}</div>
            <div class="unl-lightest-gray dcf-mt-1">{{ content.field_written_by }}</div>
            <div class="dcf-txt-sm unl-lightest-gray">{{ created }}</div>
          </div>
        </div>
        <div class="landing-section">{{ content.field_article_lead_media }}</div>
        <div class="custom-hide dcf-txt-sm dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ content.field_article_lead_cutline }}</div>
        <div class="custom-hide dcf-txt-2xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ credit }}</div>

      {% elseif content.field_article_title_placement.0['#markup'] == 'bottom_right' %}
        <div
            class="dcf-m-auto dcf-d-block unl-bg-darkest-gray dcf-p-1 dcf-title-hide dcf-z-2 dcf-txt-left dcf-title-bottom-right">
          <div class="dcf-p-1">
            <h1 class="dcf-txt-h1 unl-cream">{{ label }}</h1>
            <div class="dcf-txt-sm unl-cream">{{ content.field_subtitle }}</div>
            <div class="unl-lightest-gray dcf-mt-1">{{ content.field_written_by }}</div>
            <div class="dcf-txt-sm unl-lightest-gray">{{ created }}</div>
          </div>
        </div>
        <div class="landing-section">{{ content.field_article_lead_media }}</div>
        <div class="custom-hide dcf-txt-sm dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ content.field_article_lead_cutline }}</div>
        <div class="custom-hide dcf-txt-2xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ credit }}</div>

      {% elseif content.field_article_title_placement.0['#markup'] == 'center_center' %}
        <div class="dcf-m-auto dcf-d-block unl-bg-darkest-gray dcf-p-1 dcf-title-hide dcf-z-2 dcf-title-center-center">
          <div class="dcf-p-1">
            <h1 class="dcf-txt-h1 unl-cream">{{ label }}</h1>
            <div class="dcf-txt-sm unl-cream">{{ content.field_subtitle }}</div>
            <div class="unl-lightest-gray dcf-mt-1">{{ content.field_written_by }}</div>
            <div class="dcf-txt-sm unl-lightest-gray">{{ created }}</div>
          </div>
        </div>
        <div class="landing-section">{{ content.field_article_lead_media }}</div>
        <div class="custom-hide dcf-txt-sm dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ content.field_article_lead_cutline }}</div>
        <div class="custom-hide dcf-txt-2xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ credit }}</div>

      {% elseif content.field_article_title_placement.0['#markup'] == 'bottom_center' %}
        <div class="dcf-m-auto dcf-d-block unl-bg-darkest-gray dcf-p-1 dcf-z-2 dcf-title-hide dcf-title-bottom-center">
          <div class="dcf-p-1">
            <h1 class="dcf-txt-h1 unl-cream">{{ label }}</h1>
            <div class="dcf-txt-sm unl-cream">{{ content.field_subtitle }}</div>
            <div class="unl-lightest-gray dcf-mt-1">{{ content.field_written_by }}</div>
            <div class="dcf-txt-sm unl-lightest-gray">{{ created }}</div>
          </div>
        </div>
        <div class="landing-section">{{ content.field_article_lead_media }}</div>
        <div class="custom-hide dcf-txt-sm dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ content.field_article_lead_cutline }}</div>
        <div class="custom-hide dcf-txt-2xs dcf-italic dcf-txt-right dcf-pr-5 dcf-mb-0 dcf-mt-1">{{ credit }}</div>

      {% else %}
        {# This is "Basic" or not defined. #}
        <div class="dcf-wrapper custom-main-page">
          <div class="dcf-basic-view">
            <div class="dcf-col-100% dcf-col-67%-start@sm dcf-col-75%-start@md">
              <div>{{ content.field_article_lead_media }}</div>
            </div>
            <div class="dcf-col-100% dcf-col-33%-end@sm dcf-col-25%-end@md">
              <hr class="custom-l-line dcf-mt-0 dcf-mb-1 dcf-basic-view-hr">
              <div class="dcf-txt-3xs custom-hide dcf-italic dcf-pr-5 dcf-mt-0 dcf-mb-1 custom-credit-text">
                {{ credit }}
              </div>
              <div class="dcf-txt-xs dcf-mb-6">
                {{ content.field_article_lead_cutline }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}

    </div>
  </div>
  {% endif %}

  <div class="outer-content dcf-pb-7">
    <div class="inner-content outer-content-item1">
      <div class="dcf-news-column  dcf-pt-7 inner-content-item1 dcf-m-auto">
        <div class="unl-font-serif dcf-dropcap custom-first-paragraph-big-font">
          {{ content.body }}
          {{ content.field_gallery_images }}
          {{ content.field_media_and_card }}
        </div>
      </div>
      <div class="inner-content-item2 dcf-pt-7">
        <div class="dcf-sticky custom-pin-top">
          <hr class="custom-l-line dcf-mt-0">
          <h2 class="dcf-txt-sm dcf-regular dcf-uppercase unl-ls-1 field-label">Share</h2>
          <div class="share-icon-flex">
            <div class="icon"><a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20story%20on%20Nebraska%20Today%20{{ url('entity.node.canonical', { 'node': node.id }) }}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" aria-labelledby="filled-logo-twitter-bird-logos-title" style="fill: rgb(254, 253, 250);"><title id="filled-logo-twitter-bird-logos-title">logo-twitter-bird(logos)</title><path d="M23.444,4.834c-0.814,0.363-1.5,0.375-2.227,0.016c0.938-0.562,0.981-0.957,1.32-2.019 c-0.878,0.521-1.851,0.9-2.886,1.104C18.823,3.053,17.642,2.5,16.335,2.5c-2.51,0-4.544,2.036-4.544,4.544 c0,0.356,0.04,0.703,0.117,1.036C8.132,7.891,4.783,6.082,2.542,3.332C2.151,4.003,1.927,4.784,1.927,5.617 c0,1.577,0.803,2.967,2.021,3.782C3.203,9.375,2.503,9.171,1.891,8.831C1.89,8.85,1.89,8.868,1.89,8.888 c0,2.202,1.566,4.038,3.646,4.456c-0.666,0.181-1.368,0.209-2.053,0.079c0.579,1.804,2.257,3.118,4.245,3.155 C5.783,18.102,3.372,18.737,1,18.459C3.012,19.748,5.399,20.5,7.966,20.5c8.358,0,12.928-6.924,12.928-12.929 c0-0.198-0.003-0.393-0.012-0.588C21.769,6.343,22.835,5.746,23.444,4.834z"/><path fill="none" d="M0 0H24V24H0z"/></svg></a></div>
            <div class="icon"><a href="https://www.facebook.com/sharer/sharer.php?u={{ url('entity.node.canonical', { 'node': node.id }) }}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" aria-labelledby="filled-logo-facebook-logos-title" style="fill: rgb(254, 253, 250);"><title id="filled-logo-facebook-logos-title">logo-facebook(logos)</title><path d="M18.768,7.465H14.5V5.56c0-0.896,0.594-1.105,1.012-1.105c0.418,0,2.988,0,2.988,0V0.513L14.171,0.5 C10.244,0.5,9.5,3.438,9.5,5.32v2.144h-3v4h3c0,5.212,0,12,0,12h5c0,0,0-6.85,0-12h3.851L18.768,7.465z"/><path fill="none" d="M0 0H24V24H0z"/></svg></a></div>
            <div class="icon"><a href="https://www.linkedin.com/shareArticle?url={{ url('entity.node.canonical', { 'node': node.id }) }}"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" aria-labelledby="filled-logo-linkedin-logos-title" style="fill: rgb(254, 253, 250);"><title id="filled-logo-linkedin-logos-title">logo-linkedin(logos)</title><path d="M6.527,21.5h-5v-13h5V21.5z M4.018,6.5H3.988C2.477,6.5,1.5,5.318,1.5,4.019c0-1.329,1.008-2.412,2.547-2.412 c1.541,0,2.488,1.118,2.519,2.447C6.565,5.353,5.588,6.5,4.018,6.5z M15.527,12.5c-1.105,0-2,0.896-2,2v7h-5c0,0,0.059-12,0-13h5 v1.485c0,0,1.548-1.443,3.938-1.443c2.962,0,5.062,2.144,5.062,6.304V21.5h-5v-7C17.527,13.396,16.632,12.5,15.527,12.5z"/><path fill="none" d="M0 0H24V24H0z"/></svg></a></div>
            <!-- <div class="icon"><a href="mailto:Emailsupport@nebraska.edu"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24" aria-labelledby="filled-email-read-2-email-title" style="fill: rgb(254, 253, 250);"><title id="filled-email-read-2-email-title">email-read-2(email)</title><path d="M17.785,14.411c-0.228,0.157-0.539,0.101-0.696-0.126c-0.157-0.228-0.101-0.539,0.126-0.695l6.175-4.276L12.286,1.59 c-0.172-0.119-0.399-0.119-0.571,0L0.61,9.314l6.175,4.276c0.227,0.157,0.283,0.468,0.126,0.695 c-0.157,0.227-0.469,0.283-0.696,0.126L0,10.108V21c0,1.102,0.897,2,2,2h20c1.103,0,2-0.898,2-2V10.108L17.785,14.411z M20.91,19.286c-0.158,0.227-0.469,0.281-0.696,0.124L15.342,16H8.658l-4.871,3.409c-0.226,0.159-0.537,0.104-0.696-0.124 c-0.158-0.226-0.104-0.537,0.123-0.695l5-3.5C8.297,15.031,8.398,15,8.5,15h7c0.102,0,0.203,0.031,0.287,0.091c0,0,5,3.499,5,3.5 C21.014,18.749,21.068,19.06,20.91,19.286z"/><g><path fill="none" d="M0 0H24V24H0z"/></g></svg></a></div> -->
          </div>
        </div>
      </div>
    </div>
    
    <div class="outer-content-item2  dcf-pt-7">
      {% if node.field_article_release_contacts.value is not empty %}
        <hr class="custom-l-line dcf-mt-0">
        <h2 class="dcf-txt-sm dcf-regular dcf-uppercase unl-ls-1" style=" color : var(--heading); ">News Release Contact(s)</h2>
      {% endif %}
      {{ content.field_article_release_contacts }}
      {{ content.field_article_related_links }}
      {{ content.field_tags }}
      {{ content.field_lead_image_text_placement }}
      {{ content.field_high_resolution_photo }}
    </div>
  </div>
  
  {# Recent News #}
  <div class="custom-hide-subscribe">
    {{ drupal_view('recent', 'block_1') }}
  </div>
</article>
