{% set createdDate = node.getCreatedTime|date('F j, Y') %}
<div class="half-text-half-image-grid  dcf-mb-4 ">
    <div>
    <a href= "{{ url }}">
      {{ content.field_article_lead_image[0]['field_image'] }} 
    </a>
    </div>
    <div>
    <h5 class = "dcf-regular dcf-txt-h5" style="color: var(--btn-inverse-secondary);">
        <a href= "{{ url }}"> {{ label }} </a>
        </h5>
        <div class="dcf-d-flex custom-before-in-text">
          <div>{{ createdDate }} <span class="custom-section-display">{{ content.field_section }}</span></div>
        </div>
    </div>
</div>
