{{ attach_library('unl_five_news/article') }}

<div class = "dcf-grid-halves@md dcf-grid-full@sm dcf-bleed dcf-ai-center custom-background-color-dark-light ">
    <div class="custom-section-heading-padding custom-padding-color custom-section-heading-order">
        <hr class="custom-white-line dcf-mt-0 ">
        <a href="{{ link }}" class="dcf-txt-decor-none"><h2 style="color:white;">{{ label }}</h2></a>
        <div class="dcf-mt-1 custom-hide-link dcf-txt-left dcf-txt-xs dcf-uppercase unl-font-sans ">
            <a class="dcf-txt-decor-none custom-arrow" href="{{ link }}" style="color: white;;">Read more</a>
        </div>
    </div>
    <div>
        {{ content.field_article_lead_image }}
    </div>
</div>

