{{ attach_library('unl_five_news/article') }}

{# Grid featured lead image and views#}

{# Vertical Align Text #}
{% if content.field_article_vertical_display.0['#markup'] == 'Display overlay center' %}
   {%  set vertical_align_class = 'fifthy-fifthy-text-placement-vertical-center' %}
{%  elseif content.field_article_vertical_display.0['#markup'] == 'Display overlay top'%}
   {%  set vertical_align_class = 'fifthy-fifthy-text-placement-top' %}
{%  elseif content.field_article_vertical_display.0['#markup'] == 'Display overlay bottom'%}
   {%  set vertical_align_class = 'fifthy-fifthy-text-placement-bottom' %}
{% endif %}

{# Horizontal Align Text #}
{% if content.field_article_horizontal_display.0['#markup'] == 'Display overlay left' %}
   {%  set horizontal_align_class = 'fifthy-fifthy-text-placement-left' %}
{%  elseif content.field_article_horizontal_display.0['#markup'] == 'Display overlay right'%}
   {%  set horizontal_align_class = 'fifthy-fifthy-text-placement-right' %}
{%  elseif content.field_article_horizontal_display.0['#markup'] == 'Display overlay center'%}
   {%  set horizontal_align_class = 'fifthy-fifthy-text-placement-center' %}
{% endif %}

{# Compact Text #}
{% if content.field_article_compact_title.0['#markup'] == 'Compact' %}
   {%  set compact_text_align_class = 'fifthy-fifthy-text-placement-compact' %}
{%  elseif content.field_article_compact_title.0['#markup'] == 'Non-Compact'%}
   {%  set compact_text_align_class = 'fifthy-fifthy-text-placement-non-compact' %}
{% endif %}


{% if content.field_article_display_options.0['#markup'] == 'Full Width Lead & View'  %}
    <div>
        <div class="dcf-bleed custom-page custom-hide-title custom-min-height-25 dcf-d-flex dcf-relative dcf-overflow-hidden dcf-flex-wrap dcf-flex-col">
            <div class="custom-heading">
                    <a href="{{ url }}" class="dcf-txt-decor-none"><h2 class="unl-cream">{{ label }}</h2></a>
                    <p> </p>
                    <div class="dcf-mt-7 custom-hide-link custom-feature-link dcf-txt-left dcf-txt-xs dcf-uppercase unl-font-sans "><a class="dcf-txt-decor-none custom-arrow" href= "{{ url }}">Read more</a></div>
                </div>
            <div class="custom-image dcf-relative">
                {{ content.field_article_lead_image }}
            </div>
        </div>
        {# Recent News #}
        <div class="dcf-pt-8">
            {{ drupal_view('recent', 'block_2') }}
        </div>
    </div>

{% elseif content.field_article_display_options.0['#markup'] == '50/50 Lead & View'  %}
    <div class=" dcf-bleed">
        <div class="custom-display-half-half-grid">
            <div class="dcf-relative custom-display-half-half-grid-mobile-view">
                <div class="dcf-z-2 custom-position dcf-h-auto  {{ vertical_align_class }} {{ horizontal_align_class }} {{ compact_text_align_class }}">
                    <div class="dcf-p-2" style="background-color:var(--bg-input); color:var(--caption);">
                        <a href="{{ url }}" class="dcf-txt-decor-none"><h2>{{ label }}</h2></a>
                        <div class="dcf-mt-7 custom-hide-link custom-feature-link dcf-txt-left dcf-txt-xs dcf-uppercase unl-font-sans "><a class="dcf-txt-decor-none custom-arrow" href= "{{ url }}" style="color:var(--caption);">Read more</a></div>
                    </div>
                </div>
                <div>
                    {{ content.field_article_lead_image }}
                </div>
            </div>
            {# Recent News #}
            <div class="custom-dcf-wrapper">
                {{ drupal_view('recent', 'block_3') }}
            </div>
        </div>
    </div>

{% endif %}





