{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('classy/node') }}
{{ attach_library('unl_five_news/article') }}



<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page and view_mode != "full" %}
  {{ node_title }}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer>
      {{ author_picture }}
      <div{{ author_attributes }}>
        {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    
    </footer>
  {% endif %}

  <div class = "dcf-bleed">
    {{ content.field_article_lead_image }}
  </div>

  <div class ="outer-content dcf-pt-7 dcf-pb-7 ">
    <div class="inner-content outer-content-item1">
      <div class = "dcf-news-column inner-content-item1 dcf-m-auto">
        <div class = "dcf-txt-h4 dcf-mb-1 dcf-font-family" style= "max-width: 35.52em;">
          {{ content.field_subtitle }}
        </div>
        <div class = "dcf-font-family dcf-dropcap">
          {{ content.body }}
          {{ content.field_gallery_images }}
          {{ content.field_media_and_card }}
        </div>
      </div>
      <div class="inner-content-item2">
        <hr class="dcf-l-line dcf-mt-0">
        <h2 class="dcf-txt-sm dcf-regular dcf-uppercase unl-ls-1 field-label">Share</h2>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5aeb64f82863a8b2"></script> 
        <div class="addthis_inline_share_toolbox"></div>
      </div>
    </div>
    
    <div class="outer-content-item2">
        {{ content.field_article_release_contacts }}
        {{ content.field_article_related_links }}
        {{ content.field_tags }}
        {{ content.field_lead_image_text_placement }}
        {{ content.field_high_resolution_photos }}
    </div>
  </div>
  
  {# Recent News #}
  <div >
      {{ drupal_view('recent', 'block_1') }}
  </div>

</article>


