{# Grid featured lead image and views#}

{% if content.field_article_display_options.0['#markup'] == 'Full Width Lead & View'  %}
    <div>
        <div class="dcf-bleed custom-page custom-hide-title custom-d-flex">
            <div class="custom-heading">
                <h2>{{ label }}</h2>
                <p> </p>
                <div class="dcf-mt-7 custom-hide-link custom-feature-link dcf-txt-left dcf-txt-xs dcf-uppercase unl-font-sans "><a class="dcf-txt-decor-none custom-arrow" href="/headlines/1/">Read more</a></div>
            </div>
            <div class="custom-image">
                {{ content.field_article_lead_image }}
            </div>
        </div>

        {# Recent News #}
        <div class="dcf-pt-8">
            {{ drupal_view('recent', 'block_2') }}
        </div>
    </div>

{% elseif content.field_article_display_options.0['#markup'] == '50/50 Lead & View'  %}
    <div class="custom-d-half-grid dcf-bleed">
        {# <div class="dcf-bleed custom-page custom-hide-title ">
            <div class="custom-heading">
                <h2>{{ label }}</h2>
                <p> </p>
                <div class="dcf-mt-7 custom-hide-link custom-feature-link dcf-txt-left dcf-txt-xs dcf-uppercase unl-font-sans "><a class="dcf-txt-decor-none custom-arrow" href="/headlines/1/">Read more</a></div>
            </div>
            <div class="custom-image">
                {{ content.field_article_lead_image }}
            </div>
        </div> #}
        <div>
            {# {{ label }}
            {{ content.field_article_lead_image }} #}
        </div>

        {# Recent News #}
        <div class="dcf-pt-8">
            {{ drupal_view('recent', 'block_3') }}
        </div>
    </div>

{% endif %}





