{# First Article node selected as 'Lead Story' #}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %}



{# On Campus #}
<div class="dcf-pt-8">
  <hr class="custom-l-line dcf-mt-0 ">
  <div class="dcf-d-flex dcf-ai-center ">
    <h2 class="dcf-txt-sm dcf-regular dcf-uppercase unl-ls-1">on campus</h2>
    <div class="dcf-d-flex custom-news-subscribe dcf-mb-5 dcf-ml-6 dcf-txt-xs unl-font-sans unl-dark-gray">
      <svg class="dcf-mr-2 dcf-h-5 dcf-w-5 dcf-fill-current" aria-hidden="true" focusable="false" height="16" width="16"
          viewBox="0 0 24 24">
        <path
            d="M17.854 14.147a.499.499 0 00-.545-.108.489.489 0 00-.163.108l-2.5 2.5a.5.5 0 00.707.707L17 15.707V20.5a.5.5 0 001 0v-4.793l1.646 1.647a.502.502 0 00.708 0 .5.5 0 000-.707l-2.5-2.5z"></path>
        <path
            d="M17.5 11a6.508 6.508 0 00-6.5 6.5c0 3.584 2.916 6.5 6.5 6.5s6.5-2.916 6.5-6.5-2.916-6.5-6.5-6.5zm0 12c-3.033 0-5.5-2.467-5.5-5.5s2.467-5.5 5.5-5.5 5.5 2.467 5.5 5.5-2.467 5.5-5.5 5.5zM3.5 7H8a.5.5 0 000-1H3.5a.5.5 0 000 1zM12 9.5a.5.5 0 00-.5-.5h-8a.5.5 0 000 1h8a.5.5 0 00.5-.5zm-2 3a.5.5 0 00-.5-.5h-6a.5.5 0 000 1h6a.5.5 0 00.5-.5zM3.5 15a.5.5 0 000 1h5a.5.5 0 000-1h-5z"></path>
        <path
            d="M10.5 21H1V1h10v4.5a.5.5 0 00.5.5H16v3.5a.5.5 0 001 0v-4a.499.499 0 00-.147-.354L11.854.147a.492.492 0 00-.162-.107A.482.482 0 0011.5 0H.5a.5.5 0 00-.5.5v21a.5.5 0 00.5.5h10a.5.5 0 000-1zM12 1.707L15.293 5H12V1.707z"></path>
      </svg>
      <a href="/newsrooms/1/subscribe/">Submit a Story</a>
    </div>
  </div>
  <div >
    <div class = "dcf-grid-halves@md dcf-grid-full@sm dcf-bleed dcf-ai-center unl-bg-lightest-gray ">
      <div class="custom-oncampus-order-2  dcf-wrapper custom-editor-choice-padding">{{ drupal_view('on_campus', 'block_2') }}</div>
      <div class="custom-oncampus-order-1"> {{ drupal_view('on_campus', 'block_1') }}</div>
    </div>
  </div>
  <div class="dcf-mt-1 custom-hide-link dcf-txt-left dcf-txt-xs dcf-uppercase unl-font-sans ut-read-more "><a
    class="dcf-txt-decor-none custom-arrow" href="/headlines/1/">More campus News</a></div>
</div>

{# Tweeter  #}
<div class="dcf-pt-8">
<hr class="custom-l-line dcf-mt-0 ">
<h2 class="dcf-txt-sm dcf-regular dcf-uppercase unl-ls-1">events</h2>
  <div class="custom-featured-events-grid">
    <div class="custom-events-image">{{ drupal_view('featured_event_image', 'block_1') }}</div>
    <div style="background-color: red; height: 100px; width:100%"></div>
  </div>
</div>

{# More headlines #}
<div class="dcf-pt-8 ">
  {{ drupal_view('recent', 'block_2') }}
</div>

{# Oustide news #}
<div class="dcf-pt-8">
  {# In the news #}
  <div class="dcf-grid dcf-col-gap-vw dcf-row-gap-6">
    <div class="dcf-col-100% dcf-col-75%-start@md">
      <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular dcf-uppercase unl-ls-1 dcf-mb-6">in the news</h2>
        <div class="dcf-grid dcf-col-gap-vw dcf-row-gap-4">
          <div class="dcf-col-100% dcf-col-33%-start@sm ">
            {{ inthenews|raw }}
          </div>
          <div class="dcf-col-100% dcf-col-67%-end@sm custom-main-page-quote">
            <div class="custom-in-the-news-padding">
              {{ quote|raw }}
            </div>
          </div>
        </div>
        <div class="dcf-mt-1 custom-hide-link dcf-txt-right dcf-txt-xs dcf-uppercase unl-font-sans ut-read-more "><a
              class="dcf-txt-decor-none custom-arrow" href="/headlines/1/">More in the News</a></div>
      </div>
    </div>
    {# For Journalists #}
    <div class="dcf-col-100% dcf-col-25%-end@md">
      <div>
        <hr class="custom-l-line dcf-mt-0 ">
        <h2 class="dcf-txt-sm dcf-regular dcf-uppercase unl-ls-1 dcf-mb-6">For Journalists</h2>
        <ul class="dcf-list-bare dcf-mb-0 dcf-columns-2 dcf-columns-3@sm dcf-columns-1@md dcf-txt-h6 dcf-bold dcf-lh-2 unl-ls-h unl-font-sans unl-dark-gray">
          <li class="dcf-d-flex dcf-ai-center dcf-mb-3">
            <svg aria-hidden="true" class="dcf-mr-2 dcf-h-4 dcf-w-4 dcf-fill-current" height="16" viewbox="0 0 24 24"
                 width="16">
              <path
                  d="M20.961 6.308a.495.495 0 00-.108-.162L14.854.147a.492.492 0 00-.162-.107A.482.482 0 0014.5 0h-11a.5.5 0 00-.5.5v23a.5.5 0 00.5.5h17a.5.5 0 00.5-.5v-17a.499.499 0 00-.039-.192zM15 1.707L19.293 6H15V1.707zM4 23V1h10v5.5a.5.5 0 00.5.5H20v16H4z"></path>
              <path
                  d="M7.5 8H12a.5.5 0 000-1H7.5a.5.5 0 000 1zm9 2h-9a.5.5 0 000 1h9a.5.5 0 000-1zm0 3h-9a.5.5 0 000 1h9a.5.5 0 000-1zm0 3h-9a.5.5 0 000 1h9a.5.5 0 000-1zm0 3h-9a.5.5 0 000 1h9a.5.5 0 000-1z"></path>
            </svg>
            <a href="/news-releases/1/">News Releases</a>
          </li>
          <li class="dcf-d-flex dcf-ai-center dcf-mb-3">
            <svg aria-hidden="true" class="dcf-mr-2 dcf-h-4 dcf-w-4 dcf-fill-current" height="16" viewbox="0 0 24 24"
                 width="16">
              <path
                  d="M14.801 10.5l7.012-5.609A.5.5 0 0021.5 4H11V1.5a.5.5 0 00-.5-.5h-7a.5.5 0 00-.5.5v12a.5.5 0 00.5.5H6v2.484h.001L6 16.5a.5.5 0 00.5.5h15a.501.501 0 00.313-.891L14.801 10.5zM4 2h6v11H4V2zm3.729 12a5.032 5.032 0 00-.729.522V14h.729zm-.628 2c.486-1.184 2.61-1.842 3.492-2.009.019-.003.034-.015.052-.021a.473.473 0 00.164-.087c.023-.019.045-.037.064-.06.021-.024.038-.052.055-.08a.437.437 0 00.039-.078.463.463 0 00.021-.106c.002-.019.012-.038.012-.059V5h9.074l-6.387 5.109a.504.504 0 00.001.782L20.074 16H7.101zM1.5 0a.5.5 0 00-.5.5v23a.5.5 0 001 0V.5a.5.5 0 00-.5-.5z"></path>
            </svg>
            <a href="/topics/">Topics</a>
          </li>
          <li class="dcf-d-flex dcf-ai-center dcf-mb-3">
            <svg aria-hidden="true" class="dcf-mr-2 dcf-h-4 dcf-w-4 dcf-fill-current" height="16" viewbox="0 0 24 24"
                 width="16">
              <path
                  d="M13.858 19.334l-3.608-1.277v-1.704c1.115-.942 1.849-2.463 1.849-4.188 0-2.857-1.995-5.183-4.447-5.183s-4.447 2.325-4.447 5.183c0 1.826.818 3.427 2.046 4.351v1.541l-3.608 1.277A2.842 2.842 0 00-.25 22.011v1.472a.5.5 0 00.5.5h15a.5.5 0 00.5-.5v-1.472c0-1.201-.76-2.278-1.892-2.677zM7.651 7.982c1.655 0 3.04 1.424 3.37 3.313-1.055.176-1.696-.176-2.333-1.276a.497.497 0 00-.432-.249h-.01a.498.498 0 00-.432.267c-.343.648-1.549 1.239-2.531 1.239a2.73 2.73 0 01-.951-.177c.392-1.788 1.724-3.117 3.319-3.117zm-3.447 4.183c0-.015.003-.027.003-.042.339.099.691.152 1.076.152 1.064 0 2.229-.482 2.936-1.157.635.83 1.381 1.225 2.321 1.225.173 0 .362-.028.549-.056-.055 2.249-1.571 4.062-3.437 4.062-1.902 0-3.448-1.877-3.448-4.184zM14.75 22.982h-14v-.972c0-.778.492-1.475 1.226-1.733l3.941-1.396a.5.5 0 00.333-.472V17.06c.443.173.909.289 1.401.289.565 0 1.101-.136 1.599-.36v1.422c0 .212.133.4.333.472l3.942 1.396a1.84 1.84 0 011.225 1.733v.97z"></path>
              <path
                  d="M18.644-.018c-1.359 0-2.481.447-3.505 1.403a4.922 4.922 0 00-3.966.091c-1.393.645-2.437 1.898-2.792 3.351l.972.237c.283-1.16 1.121-2.162 2.24-2.681a3.878 3.878 0 013.428.046.5.5 0 00.583-.1c.904-.932 1.841-1.348 3.041-1.348 3.024 0 4.606 2.365 4.606 4.702 0 1.151-.388 2.207-1.093 2.972-.8.867-1.98 1.326-3.413 1.326a.5.5 0 00-.413.218c-.424.62-1.195 1.282-2.087 1.282-.889 0-1.675-.469-2.053-1.224l-.895.447c.548 1.096 1.677 1.776 2.947 1.776 1.014 0 2.029-.558 2.758-1.504 1.605-.055 2.946-.62 3.89-1.645.875-.95 1.358-2.246 1.358-3.649 0-2.762-1.965-5.7-5.606-5.7zm-1.394 13.5c-.827 0-1.5.673-1.5 1.5s.673 1.5 1.5 1.5 1.5-.673 1.5-1.5-.673-1.5-1.5-1.5zm0 2a.5.5 0 11.002-1.002.5.5 0 01-.002 1.002z"></path>
              <path
                  d="M13.75 6.982a1.001 1.001 0 10-1-1c0 .552.449 1 1 1zm.5-1h-.5v-.001l.5.001zm-.5 11.5a1.001 1.001 0 10-1-1c0 .552.449 1 1 1zm.5-1h-.5v-.001l.5.001zm3.5-10.5a1.001 1.001 0 00-2 0 1.001 1.001 0 002 0zm-.5 0h-.5v-.001l.5.001zm3.5 0a1.001 1.001 0 00-2 0 1.001 1.001 0 002 0zm-.5 0h-.5v-.001l.5.001z"></path>
            </svg>
            <a href="/experts/">Experts</a>
          </li>
          <li class="dcf-d-flex dcf-ai-center dcf-mb-3">
            <svg aria-hidden="true" class="dcf-mr-2 dcf-h-4 dcf-w-4 dcf-fill-current" height="16" viewbox="0 0 24 24"
                 width="16">
              <path
                  d="M8.409 15.199l-1.384 4.155a.503.503 0 00.475.658.496.496 0 00.265-.076l3.735-2.334 3.735 2.333a.5.5 0 00.574-.031c.165-.131.231-.351.165-.551l-1.384-4.152 3.2-2.292A.5.5 0 0017.5 12h-4.14l-1.386-4.171c-.137-.409-.812-.409-.949 0L9.64 12H5.5a.5.5 0 00-.291.907l3.2 2.292zM10 13a.501.501 0 00.475-.342L11.5 9.573l1.025 3.085A.501.501 0 0013 13h2.943l-2.234 1.6a.5.5 0 00-.184.565l1.062 3.184-2.822-1.762a.5.5 0 00-.529 0L8.414 18.35l1.062-3.187a.499.499 0 00-.184-.564L7.057 13H10z"></path>
              <path
                  d="M21.5 4h-17C3.673 4 3 3.327 3 2.5S3.673 1 4.5 1h17a.5.5 0 000-1h-17a2.503 2.503 0 00-2.476 2.847A.51.51 0 002 3v18.5C2 22.878 3.121 24 4.5 24h17a.5.5 0 00.5-.5v-19a.5.5 0 00-.5-.5zM21 23H4.5c-.827 0-1.5-.673-1.5-1.5V4.499c.418.314.938.501 1.5.501H21v18z"></path>
              <path d="M4.5 2a.5.5 0 000 1h16a.5.5 0 000-1h-16z"></path>
            </svg>
            <a href="https://iea.unl.edu/publication/fact-book">Fact Book</a>
          </li>
          <li class="dcf-d-flex dcf-ai-center dcf-mb-3">
            <svg aria-hidden="true" class="dcf-mr-2 dcf-h-4 dcf-w-4 dcf-fill-current" height="16" viewbox="0 0 24 24"
                 width="16">
              <path
                  d="M21.5 0h-20a.5.5 0 00-.5.5v23a.5.5 0 00.5.5h20a.5.5 0 00.5-.5V.5a.5.5 0 00-.5-.5zM21 23H2V1h19v22z"></path>
              <path
                  d="M3.5 22h16a.5.5 0 00.5-.5v-19a.5.5 0 00-.5-.5h-16a.5.5 0 00-.5.5v19a.5.5 0 00.5.5zm.5-1v-2.14l5.658-1.886A.5.5 0 0010 16.5v-2a.535.535 0 00-.315-.464C9.678 14.032 9 13.704 9 12c0-.276-.165-.485-.441-.485-.115-.079-.271-.561-.168-.894.037-.121.07-.121.109-.121A.5.5 0 009 10c0-.159-.064-.311-.191-.611-.42-.99-.437-1.318-.383-1.411 0 0 .105-.062.474.012a.5.5 0 00.585-.369C9.647 6.972 10.705 6.5 12 6.5s2.353.472 2.515 1.121c.181.725-.135 1.437-.323 1.861-.1.223-.16.358-.16.518 0 .276.253.503.53.503.021.014.082.12.084.336.004.344-.134.625-.146.66a.5.5 0 00-.5.5c0 1.693-.669 2.028-.665 2.028A.502.502 0 0013 14.5v2a.5.5 0 00.342.474L19 18.86V21H4zM19 3v14.807l-5-1.667v-1.36c.371-.286.917-.953.991-2.43.417-.277.655-.895.655-1.498 0-.334-.076-.631-.22-.859a1.055 1.055 0 00-.245-.276c.22-.513.54-1.394.304-2.338C15.138 5.992 13.391 5.5 12 5.5c-1.239 0-2.761.391-3.324 1.456-.453-.024-.795.108-1.019.383-.511.626-.102 1.653.199 2.366a1.117 1.117 0 00-.269.29c-.15.233-.229.536-.229.875 0 .596.236 1.207.65 1.481.075 1.477.621 2.143.992 2.429v1.36l-5 1.667V3h15z"></path>
            </svg>
            <a href="https://www.unl.edu/chancellor/administration">Administration Bios</a>
          </li>
          <li class="dcf-d-flex dcf-ai-center dcf-mb-3">
            <svg aria-hidden="true" class="dcf-mr-2 dcf-h-4 dcf-w-4 dcf-fill-current" height="16" viewbox="0 0 24 24"
                 width="16">
              <path
                  d="M19 18.5v-17a.5.5 0 00-.5-.5h-17a.5.5 0 00-.5.5v17a.5.5 0 00.5.5h17a.5.5 0 00.5-.5zM18 2v13h-2.161l-2.875-7.186a.499.499 0 00-.453-.314.529.529 0 00-.467.293l-2.17 4.775-1.99-2.389a.502.502 0 00-.813.063L4.217 15H2V2h16zm-3.238 13H5.383l2.184-3.639 2.049 2.459a.497.497 0 00.839-.114l2.016-4.434L14.762 15zM2 18v-2h16v2H2z"></path>
              <path
                  d="M22.884 7.242a.5.5 0 00-.339-.178l-1.992-.181a.5.5 0 00-.09.996l1.494.136-1.272 13.942-14.44-1.318a.5.5 0 10-.09.996l14.938 1.363a.501.501 0 00.542-.452l1.363-14.939a.498.498 0 00-.114-.365zM6 8c1.103 0 2-.897 2-2s-.897-2-2-2-2 .897-2 2 .897 2 2 2zm0-3c.551 0 1 .449 1 1s-.449 1-1 1-1-.449-1-1 .449-1 1-1z"></path>
            </svg>
            <a href="https://ucomm.unl.edu/brand/campus-photos">Campus Photos</a>
          </li>
          <li class="dcf-d-flex dcf-ai-center dcf-mb-3">
            <svg aria-hidden="true" class="dcf-mr-2 dcf-h-4 dcf-w-4 dcf-fill-current" height="16" viewbox="0 0 24 24"
                 width="16">
              <path
                  d="M12 0C7.589 0 4 3.589 4 8c0 4.245 7.273 15.307 7.583 15.775a.497.497 0 00.834 0C12.727 23.307 20 12.245 20 8c0-4.411-3.589-8-8-8zm0 22.58C10.434 20.132 5 11.396 5 8c0-3.86 3.14-7 7-7s7 3.14 7 7c0 3.395-5.434 12.132-7 14.58z"></path>
              <path
                  d="M12 4.5c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5 3.5-1.57 3.5-3.5-1.57-3.5-3.5-3.5zm0 6c-1.378 0-2.5-1.122-2.5-2.5s1.122-2.5 2.5-2.5 2.5 1.122 2.5 2.5-1.122 2.5-2.5 2.5z"></path>
            </svg>
            <a href="https://maps.unl.edu/">Maps</a>
          </li>
          <li class="dcf-d-flex dcf-ai-center dcf-mb-3">
            <svg aria-hidden="true" class="dcf-mr-2 dcf-h-4 dcf-w-4 dcf-fill-current" height="16" viewbox="0 0 24 24"
                 width="16">
              <path
                  d="M23.5 2H20V.5a.5.5 0 00-.5-.5h-3a.5.5 0 00-.5.5V2H8V.5a.5.5 0 00-.5-.5h-3a.5.5 0 00-.5.5V2H.5a.5.5 0 00-.5.5v21a.5.5 0 00.5.5h23a.5.5 0 00.5-.5v-21a.5.5 0 00-.5-.5zM17 1h2v3h-2V1zM5 1h2v3H5V1zM4 3v1.5a.5.5 0 00.5.5h3a.5.5 0 00.5-.5V3h8v1.5a.5.5 0 00.5.5h3a.5.5 0 00.5-.5V3h3v4H1V3h3zM1 23V8h22v15H1z"></path>
              <path
                  d="M21.5 12a.5.5 0 000-1H17V9.5a.5.5 0 00-1 0V11h-4V9.5a.5.5 0 00-1 0V11H7V9.5a.5.5 0 00-1 0V11H2.5a.5.5 0 000 1H6v3H2.5a.5.5 0 000 1H6v3H2.5a.5.5 0 000 1H6v1.5a.5.5 0 001 0V20h4v1.5a.5.5 0 001 0V20h4v1.5a.5.5 0 001 0V20h4.5a.5.5 0 000-1H17v-3h4.5a.5.5 0 000-1H17v-3h4.5zM7 12h4v3H7v-3zm0 7v-3h4v3H7zm9 0h-4v-3h4v3zm0-4h-4v-3h4v3z"></path>
            </svg>
            <a href="https://events.unl.edu/">Events</a>
          </li>
          <li class="dcf-d-flex dcf-ai-center unl-ls-h">
            <svg aria-hidden="true" class="dcf-mr-2 dcf-h-4 dcf-w-4 dcf-fill-current" height="16" viewbox="0 0 24 24"
                 width="16">
              <path
                  d="M12 24C5.383 24 0 18.617 0 12S5.383 0 12 0s12 5.383 12 12-5.383 12-12 12zm0-23C5.935 1 1 5.935 1 12s4.935 11 11 11 11-4.935 11-11S18.065 1 12 1z"></path>
              <path
                  d="M8.5 17a.503.503 0 01-.5-.5v-9a.498.498 0 01.723-.447l9 4.5a.5.5 0 01.001.894l-9 4.5A.505.505 0 018.5 17zM9 8.309v7.383L16.382 12 9 8.309z"></path>
            </svg>
            <a href="https://mediahub.unl.edu/">Mediahub</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



